{% extends "index.html" %}

{% load static %}


{% block content %}

<div class="container mt-5 mb-5">

    <div class="row d-flex justify-content-center">

        <div class="col-md-8">

            <div class="card">


                    <div class="text-left logo p-2 px-5">

                        <img src="{% static 'img/isolate.jpg' %}" width="50">
                        

                    </div>

                    <div class="invoice p-5">

                        <h5>Your order Confirmed!</h5>

                        <span class="font-weight-bold d-block mt-4">Hello, {{ object.user.username }}</span>
                        <span>You order has been confirmed and will be shipped in next two days!</span>

                        <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">

                            <table class="table table-borderless">
                                
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="py-2">

                                                <span class="d-block text-muted">Order Date</span>
                                            <span>{{ object.ordered_date }}</span>
                                                
                                            </div>
                                        </td>

                                        <td>
                                            <div class="py-2">

                                                <span class="d-block text-muted">Order No</span>
                                            <span>{{ object.id }}</span>
                                                
                                            </div>
                                        </td>

                                        <td>
                                            <div class="py-2">

                                                <span class="d-block text-muted">Payment</span>
                                            <span><img src="https://img.icons8.com/color/48/000000/mastercard.png" width="20" /></span>
                                                
                                            </div>
                                        </td>

                                        <td>
                                            <div class="py-2">

                                                <span class="d-block text-muted">Shiping Address</span>
                                            <span>{{ object.address }} {% if object.address2 %}{{ object.address2 }} {% endif %}</span>
                                                
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>




                            
                        </div>




                            <div class="product border-bottom table-responsive">

                                <table class="table table-borderless">

                                <tbody>
                                    {% for obj in object.items.all %}
                                    <tr>
                                        <td width="20%">
                                        
                                        <img src="{% static obj.item.file_name %}" width="90">

                                    </td>
                                
                                    <td width="60%">
                                        <span class="font-weight-bold">{{ obj.item.title }}</span>
                                        <div class="product-qty">
                                            <span class="d-block">Quantity:{{ obj.quantity }}</span>
                                            <span>Color:Dark</span>
                                            
                                        </div>
                                    </td>
                                    <td width="20%">
                                        <div class="text-right">
                                            {% if obj.item.discount %}
                                            <span class="font-weight-bold">${{ obj.get_discount_price }}</span>
                                            {% else %}
                                            <span class="font-weight-bold">${{ obj.total_price_calc }}</span>
                                            {% endif %}
                                        </div>
                                    </td>
                                    </tr>
                                    {% endfor %}

                                </tbody> 
                                    
                                </table>
                                


                            </div>



                            <div class="row d-flex justify-content-end">

                                <div class="col-md-5">

                                    <table class="table table-borderless">

                                        <tbody class="totals">

                                            <tr>
                                                <td>
                                                    <div class="text-left">

                                                        <span class="text-muted">Subtotal</span>
                                                        
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-right">
                                                        <span>$168.50</span>
                                                    </div>
                                                </td>
                                            </tr>


                                             <tr>
                                                <td>
                                                    <div class="text-left">

                                                        <span class="text-muted">Shipping Fee</span>
                                                        
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-right">
                                                        <span>$22</span>
                                                    </div>
                                                </td>
                                            </tr>


                                             <tr>
                                                <td>
                                                    <div class="text-left">

                                                        <span class="text-muted">Tax Fee</span>
                                                        
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-right">
                                                        <span>$7.65</span>
                                                    </div>
                                                </td>
                                            </tr>


                                             <tr>
                                                <td>
                                                    <div class="text-left">

                                                        <span class="text-muted">Discount</span>
                                                        
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-right">
                                                        <span class="text-success">$168.50</span>
                                                    </div>
                                                </td>
                                            </tr>


                                             <tr class="border-top border-bottom">
                                                <td>
                                                    <div class="text-left">

                                                        <span class="font-weight-bold">Total</span>
                                                        
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-right">
                                                        <span class="font-weight-bold">${{ object.get_total }}</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                        
                                    </table>
                                    
                                </div>
                                


                            </div>


                            <p>We will be sending shipping confirmation email when the item shipped successfully!</p>
                            <p class="font-weight-bold mb-0">Thanks for shopping with us!</p>
                            <span>Nike Team</span>



                        

                    </div>


                    <div class="d-flex justify-content-between footer p-3">

                        <span>Need Help? visit our <a href="#"> help center</a></span>
                         <span>12 June, 2020</span>
                        
                    </div>



        
    </div>
            
        </div>
        
    </div>
    
</div>

{% endblock content %}