{% extends "index.html" %} {% block content %}
<div class="table-responsive">
  <h2>Order Summary</h2>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Item</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total Item Price</th>
        
      </tr>
    </thead>
    <tbody>
      {% for obj in object.items.all %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ obj.item.title }}</td>
        <td>{{ obj.item.price }}</td>
        <td>{{ obj.quantity }}</td>
        <td>{{ obj.total_price_calc }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}
